# ================================
#  Ignore Raw Dataset (Important)
# ================================
data/raw/*
data/*.zip

# ================================
#  Jupyter Notebook Checkpoints
# ================================
.ipynb_checkpoints/

# ================================
#  Python Cache and Bytecode
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
#  Model and Large Binary Files
# ================================
*.h5
*.pkl
*.joblib
*.pt
models/

# ================================
#  Office Temporary Files
# ================================
~$*

# ================================
#  OS Junk Files
# ================================
.DS_Store
Thumbs.db

# ================================
#  Environment Files
# ================================
.env
.env.*
*.lock
