# ================================
#  Allow Raw Dataset (important)
# ================================
# data/raw/*      <-- REMOVED so test_FD001.txt can be tracked
data/*.zip        # still ignore zip files

# ================================
#  Jupyter Notebook Checkpoints
# ================================
.ipynb_checkpoints/

# ================================
#  Python Cache and Bytecode
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
#  Model and Large Binary Files
# ================================
# *.h5           <-- ALLOW .h5 so models can be pushed
# *.pkl
# *.joblib
# *.pt
# models/        <-- ALLOW entire models folder

# ================================
#  Office Temporary Files
# ================================
~$*

# ================================
#  OS Junk Files
# ================================
.DS_Store
Thumbs.db

# ================================
#  Environment Files
# ================================
.env
.env.*
*.lock
