# Local full environment (do NOT use this on Streamlit Cloud)

pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2
tensorflow==2.10.1
joblib==1.4.2
jupyter
notebook
plotly==5.24.1
streamlit==1.22.0
shap==0.46.0
fpdf2==2.8.2
